openapi: 3.0.0
info:
  title: Yandex Delivery B2B Platform API (Test Environment)
  version: 1.0.0
  description: >-
    API for managing B2B delivery orders, including offer creation and order
    confirmation. https://yandex.ru/support/delivery-profile/ru/api/other-day/ref/
servers:
  - url: https://b2b.taxi.tst.yandex.net
paths:
  /api/b2b/platform/pricing-calculator:
    post:
      summary: 1. Расчёт стоимости доставки
      responses:
        '200':
          description: 1. Расчёт стоимости доставки 200
          headers:
            Content-Length:
              schema:
                type: integer
              example: '48'
            Accept-Encoding:
              schema:
                type: string
              example: gzip, zstd, identity
          content:
            application/json:
              schema:
                type: object
                properties:
                  pricing_total:
                    type: string
                  delivery_days:
                    type: integer
              example:
                pricing_total: 456.21 RUB
                delivery_days: 5
      tags:
        - Подготовка заявки
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                client_price:
                  type: integer
                destination:
                  type: object
                  properties:
                    address:
                      type: string
                payment_method:
                  type: string
                source:
                  type: object
                  properties:
                    platform_station_id:
                      type: string
                tariff:
                  type: string
                total_assessed_price:
                  type: integer
                total_weight:
                  type: integer
            example:
              client_price: 0
              destination:
                address: Москва, ул. Льва Толстого, 16
              payment_method: already_paid
              source:
                platform_station_id: e1139f6d-e34f-47a9-a55f-31f032a861a6
              tariff: time_interval
              total_assessed_price: 1699000
              total_weight: 2280
  /api/b2b/platform/offers/info:
    get:
      summary: 2. Получение интервалов доставки
      parameters:
        - name: station_id
          in: query
          description: Ваш platform_station_id
          schema:
            type: string
          example: e1139f6d-e34f-47a9-a55f-31f032a861a6
        - name: full_address
          in: query
          description: Заполняем в случае доставки до двери
          schema:
            type: string
          example: Москва, ул. Льва Толстого, 16
        - name: self_pickup_id
          in: query
          description: Заполняем в случае доставки до ПВЗ
          schema:
            type: string
          example: 001db195-530b-43fc-8c17-793bf7d77et3
        - name: send_unix
          in: query
          description: |
            Просит вернуть время в UNIX
          schema:
            type: boolean
          example: 'true'
      responses:
        '200':
          description: 2. Получение интервалов доставки 200
          headers:
            Accept-Encoding:
              schema:
                type: string
              example: gzip, zstd, identity
            Content-Length:
              schema:
                type: integer
              example: '826'
          content:
            application/json:
              schema:
                type: object
                properties:
                  offers:
                    type: array
                    items:
                      type: object
                      properties:
                        from:
                          type: string
                          format: date-time
                        to:
                          type: string
                          format: date-time
              example:
                offers:
                  - from: '2026-04-09T07:00:00.000000Z'
                    to: '2026-04-09T16:00:00.000000Z'
                  - from: '2026-04-10T07:00:00.000000Z'
                    to: '2026-04-10T16:00:00.000000Z'
                  - from: '2026-04-11T07:00:00.000000Z'
                    to: '2026-04-11T16:00:00.000000Z'
                  - from: '2026-04-12T07:00:00.000000Z'
                    to: '2026-04-12T16:00:00.000000Z'
                  - from: '2026-04-13T07:00:00.000000Z'
                    to: '2026-04-13T16:00:00.000000Z'
                  - from: '2026-04-14T07:00:00.000000Z'
                    to: '2026-04-14T16:00:00.000000Z'
                  - from: '2026-04-15T07:00:00.000000Z'
                    to: '2026-04-15T16:00:00.000000Z'
                  - from: '2026-04-16T07:00:00.000000Z'
                    to: '2026-04-16T16:00:00.000000Z'
                  - from: '2026-04-17T07:00:00.000000Z'
                    to: '2026-04-17T16:00:00.000000Z'
                  - from: '2026-04-18T07:00:00.000000Z'
                    to: '2026-04-18T16:00:00.000000Z'
                  - from: '2026-04-19T07:00:00.000000Z'
                    to: '2026-04-19T16:00:00.000000Z'
      tags:
        - Подготовка заявки
  /api/b2b/platform/offers/create:
    post:
      summary: 1. Создание заявки
      responses:
        '200':
          description: 1. Создание заявки 200
          headers:
            Accept-Encoding:
              schema:
                type: string
              example: gzip, zstd, identity
            Content-Length:
              schema:
                type: integer
              example: '444'
          content:
            application/json:
              schema:
                type: object
                properties:
                  offers:
                    type: array
                    items:
                      type: object
                      properties:
                        offer_id:
                          type: string
                        expires_at:
                          type: string
                          format: date-time
                        offer_details:
                          type: object
                          properties:
                            delivery_interval:
                              type: object
                              properties:
                                min:
                                  type: string
                                  format: date-time
                                max:
                                  type: string
                                  format: date-time
                                policy:
                                  type: string
                            pickup_interval:
                              type: object
                              properties:
                                min:
                                  type: string
                                  format: date-time
                                max:
                                  type: string
                                  format: date-time
                            pricing:
                              type: string
                            pricing_total:
                              type: string
                            features:
                              type: object
                        station_id:
                          type: string
              example:
                offers:
                  - offer_id: 8142343c967949499cd43811c6112811
                    expires_at: '2026-04-04T21:49:04.000000Z'
                    offer_details:
                      delivery_interval:
                        min: '2026-04-08T07:00:00.000000Z'
                        max: '2026-04-08T09:00:00.000000Z'
                        policy: self_pickup
                      pickup_interval:
                        min: '2026-04-04T21:34:04.000000Z'
                        max: '2026-04-06T11:00:00.000000Z'
                      pricing: 285.41 RUB
                      pricing_total: 285.41 RUB
                      features: {}
                    station_id: 01946f4f013c7337874ec2fb848a58a4
      tags:
        - Основные запросы
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                info:
                  type: object
                  properties:
                    operator_request_id:
                      type: string
                    comment:
                      type: string
                last_mile_policy:
                  type: string
                source:
                  type: object
                  properties:
                    platform_station:
                      type: object
                      properties:
                        platform_id:
                          type: string
                destination:
                  type: object
                  properties:
                    type:
                      type: string
                    platform_station:
                      type: object
                      properties:
                        platform_id:
                          type: string
                    interval_utc:
                      type: object
                      properties:
                        from:
                          type: string
                          format: date-time
                        to:
                          type: string
                          format: date-time
                items:
                  type: array
                  items:
                    type: object
                    properties:
                      count:
                        type: integer
                      name:
                        type: string
                      article:
                        type: string
                      barcode:
                        type: string
                      billing_details:
                        type: object
                        properties:
                          unit_price:
                            type: integer
                          assessed_unit_price:
                            type: integer
                      physical_dims:
                        type: object
                        properties:
                          predefined_volume:
                            type: integer
                          weight_gross:
                            type: number
                            format: decimal
                      place_barcode:
                        type: string
                places:
                  type: array
                  items:
                    type: object
                    properties:
                      physical_dims:
                        type: object
                        properties:
                          predefined_volume:
                            type: integer
                      description:
                        type: string
                      barcode:
                        type: string
                billing_info:
                  type: object
                  properties:
                    payment_method:
                      type: string
                recipient_info:
                  type: object
                  properties:
                    first_name:
                      type: string
                    last_name:
                      type: string
                    phone:
                      type: string
            example:
              info:
                operator_request_id: '#номерзаказа-002'
                comment: В коробке Алиса — будьте осторожны при перевозке!
              last_mile_policy: time_interval
              source:
                platform_station:
                  platform_id: e1139f6d-e34f-47a9-a55f-31f032a861a6
              destination:
                type: platform_station
                platform_station:
                  platform_id: 01946f4f013c7337874ec2fb848a58a4
                interval_utc:
                  from: '2026-04-04T08:00:00.000000Z'
                  to: '2026-04-08T12:00:00.000000Z'
              items:
                - count: 1
                  name: Яндекс Станция 2
                  article: YS2-2022
                  barcode: '111222333'
                  billing_details:
                    unit_price: 1699000
                    assessed_unit_price: 1699000
                  physical_dims:
                    predefined_volume: 2280
                    weight_gross: 1500
                  place_barcode: ordernumber-A
              places:
                - physical_dims:
                    predefined_volume: 2280
                  description: >-
                    Чёрная коробка с логотипом Яндекса, внутри новая крутая
                    колонка
                  barcode: ordernumber-A
              billing_info:
                payment_method: already_paid
              recipient_info:
                first_name: Валентин
                last_name: Петухов
                phone: '79123456789'
  /api/b2b/platform/offers/confirm:
    post:
      summary: 2. Подтверждение заявки
      responses:
        '200':
          description: 2. Подтверждение заявки 200
          headers:
            Accept-Encoding:
              schema:
                type: string
              example: gzip, zstd, identity
            Content-Length:
              schema:
                type: integer
              example: '53'
          content:
            application/json:
              schema:
                type: object
                properties:
                  request_id:
                    type: string
              example:
                request_id: 3c1bd0c478f448339ebc1ca89a970be8-udp
      tags:
        - Основные запросы
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                offer_id:
                  type: string
            example:
              offer_id: 8142343c967949499cd43811c6112811
  /api/b2b/platform/request/info:
    get:
      summary: 3. Статус заявки
      parameters:
        - name: request_id
          in: query
          schema:
            type: string
          example: 3c1bd0c478f448339ebc1ca89a970be8-udp
      responses:
        '200':
          description: 3. Статус заявки 200
          headers:
            Content-Encoding:
              schema:
                type: string
              example: gzip
            Content-Length:
              schema:
                type: integer
              example: '1051'
          content:
            application/json:
              schema:
                type: object
                properties:
                  route_id:
                    nullable: true
                  request_id:
                    type: string
                  request:
                    type: object
                    properties:
                      info:
                        type: object
                        properties:
                          comment:
                            type: string
                          operator_request_id:
                            type: string
                          referral_source:
                            type: string
                      source:
                        type: object
                        properties:
                          platform_station:
                            type: object
                            properties:
                              platform_id:
                                type: string
                      destination:
                        type: object
                        properties:
                          type:
                            type: string
                          platform_station:
                            type: object
                            properties:
                              platform_id:
                                type: string
                          interval:
                            type: object
                            properties:
                              from:
                                type: integer
                              to:
                                type: integer
                          interval_utc:
                            type: object
                            properties:
                              from:
                                type: string
                              to:
                                type: string
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            count:
                              type: integer
                            name:
                              type: string
                            article:
                              type: string
                            barcode:
                              type: string
                            billing_details:
                              type: object
                              properties:
                                nds:
                                  type: integer
                                unit_price:
                                  type: integer
                                assessed_unit_price:
                                  type: integer
                            physical_dims:
                              type: object
                              properties:
                                dx:
                                  type: integer
                                dy:
                                  type: integer
                                dz:
                                  type: integer
                            place_barcode:
                              type: string
                            refused_count:
                              type: integer
                      places:
                        type: array
                        items:
                          type: object
                          properties:
                            physical_dims:
                              type: object
                              properties:
                                dx:
                                  type: number
                                  format: decimal
                                dy:
                                  type: number
                                  format: decimal
                                dz:
                                  type: number
                                  format: decimal
                                weight_gross:
                                  type: number
                                  format: decimal
                            barcode:
                              type: string
                      billing_info:
                        type: object
                        properties:
                          payment_method:
                            type: string
                          delivery_cost:
                            type: integer
                      recipient_info:
                        type: object
                        properties:
                          first_name:
                            type: string
                          last_name:
                            type: string
                          patronymic:
                            type: string
                          phone:
                            type: string
                      available_actions:
                        type: object
                        properties:
                          update_dates_available:
                            type: boolean
                          update_address_available:
                            type: boolean
                          update_courier_to_pickup_available:
                            type: boolean
                          update_pickup_to_courier_available:
                            type: boolean
                          update_pickup_to_pickup_available:
                            type: boolean
                          update_items:
                            type: boolean
                          update_recipient:
                            type: boolean
                          update_places:
                            type: boolean
                      particular_items_refuse:
                        type: boolean
                      delivery_policy:
                        type: object
                        properties:
                          min:
                            type: integer
                          max:
                            type: integer
                          policy:
                            type: string
                  state:
                    type: object
                    properties:
                      status:
                        type: string
                      description:
                        type: string
                      timestamp_unix:
                        type: integer
                      timestamp:
                        type: string
                        format: date-time
                  full_items_price:
                    type: integer
                  sharing_url:
                    type: string
                    format: uri
                  courier_name:
                    nullable: true
                  courier_phone:
                    nullable: true
                  courier_phone_ext:
                    nullable: true
                  courier_order_id:
                    type: string
              example:
                route_id: null
                request_id: 3c1bd0c478f448339ebc1ca89a970be8-udp
                request:
                  info:
                    comment: В коробке Алиса — будьте осторожны при перевозке!
                    operator_request_id: '#номерзаказа-002'
                    referral_source: logistic-platform-offers
                  source:
                    platform_station:
                      platform_id: e1139f6d-e34f-47a9-a55f-31f032a861a6
                  destination:
                    type: platform_station
                    platform_station:
                      platform_id: 01946f4f013c7337874ec2fb848a58a4
                    interval:
                      from: 1775631600
                      to: 1775638800
                    interval_utc:
                      from: 2026-04-08T07:00:00+0000
                      to: 2026-04-08T09:00:00+0000
                  items:
                    - count: 1
                      name: Яндекс Станция 2
                      article: YS2-2022
                      barcode: e5becf1082c5f4cd96d1a300d7d148d9
                      billing_details:
                        nds: 22
                        unit_price: 1699000
                        assessed_unit_price: 1699000
                      physical_dims:
                        dx: 0
                        dy: 0
                        dz: 0
                      place_barcode: YD69D183CC436051828
                      refused_count: 0
                  places:
                    - physical_dims:
                        dx: 1
                        dy: 1
                        dz: 1
                        weight_gross: 1
                      barcode: YD69D183CC436051828
                  billing_info:
                    payment_method: already_paid
                    delivery_cost: 0
                  recipient_info:
                    first_name: Валентин
                    last_name: Петухов
                    patronymic: ''
                    phone: '+79123456789'
                  available_actions:
                    update_dates_available: false
                    update_address_available: false
                    update_courier_to_pickup_available: false
                    update_pickup_to_courier_available: false
                    update_pickup_to_pickup_available: false
                    update_items: false
                    update_recipient: false
                    update_places: false
                  particular_items_refuse: false
                  delivery_policy:
                    min: 1775631600
                    max: 1775638800
                    policy: self_pickup
                state:
                  status: CREATED
                  description: Заказ создан в операторе
                  timestamp_unix: 1775338506
                  timestamp: '2026-04-04T21:35:06.000000Z'
                full_items_price: 1699000
                sharing_url: >-
                  https://logistics-frontend.taxi.tst.yandex.ru/route/40be1afa-0b49-4a1a-8a94-ced442f4f1bf
                courier_name: null
                courier_phone: null
                courier_phone_ext: null
                courier_order_id: '3410998'
      tags:
        - Основные запросы
  /api/b2b/platform/request/cancel:
    post:
      summary: 4. Отмена заявки
      responses:
        '200':
          description: 4. Отмена заявки 200
          headers:
            Content-Length:
              deprecated: false
              schema: {}
              example: '129'
            Accept-Encoding:
              deprecated: false
              schema: {}
              example: gzip, zstd, identity
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  reason:
                    type: string
                  description:
                    type: string
              example:
                status: CREATED
                reason: cancellation_started
                description: Заявка создана; заказ отменяется
      tags:
        - Основные запросы
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                request_id:
                  type: string
            example:
              request_id: 3c1bd0c478f448339ebc1ca89a970be8-udp
  /api/b2b/platform/requests/info:
    post:
      summary: Поиск заявок
      responses:
        '200':
          description: Поиск заявок
          headers:
            Content-Length:
              schema:
                type: integer
              example: '155057'
            Content-Encoding:
              schema:
                type: string
              example: gzip
            Accept-Encoding:
              schema:
                type: string
              example: gzip, zstd, identity
          content:
            application/json:
              schema:
                type: object
                properties:
                  requests:
                    type: array
                    items:
                      type: object
                      properties:
                        route_id:
                          nullable: true
                        request_id:
                          type: string
                        request:
                          type: object
                          properties:
                            info:
                              type: object
                              properties:
                                comment:
                                  type: string
                                operator_request_id:
                                  type: string
                                referral_source:
                                  type: string
                            source:
                              type: object
                              properties:
                                platform_station:
                                  type: object
                                  properties:
                                    platform_id:
                                      type: string
                            destination:
                              type: object
                              properties:
                                type:
                                  type: string
                                platform_station:
                                  type: object
                                  properties:
                                    platform_id:
                                      type: string
                                interval:
                                  type: object
                                  properties:
                                    from:
                                      type: integer
                                    to:
                                      type: integer
                                interval_utc:
                                  type: object
                                  properties:
                                    from:
                                      type: string
                                    to:
                                      type: string
                            items:
                              type: array
                              items:
                                type: object
                                properties:
                                  count:
                                    type: integer
                                  name:
                                    type: string
                                  article:
                                    type: string
                                  barcode:
                                    type: string
                                  billing_details:
                                    type: object
                                    properties:
                                      nds:
                                        type: integer
                                      unit_price:
                                        type: integer
                                      assessed_unit_price:
                                        type: integer
                                  physical_dims:
                                    type: object
                                    properties:
                                      dx:
                                        type: integer
                                      dy:
                                        type: integer
                                      dz:
                                        type: integer
                                  place_barcode:
                                    type: string
                                  refused_count:
                                    type: integer
                            places:
                              type: array
                              items:
                                type: object
                                properties:
                                  physical_dims:
                                    type: object
                                    properties:
                                      dx:
                                        type: number
                                        format: decimal
                                      dy:
                                        type: number
                                        format: decimal
                                      dz:
                                        type: number
                                        format: decimal
                                      weight_gross:
                                        type: number
                                        format: decimal
                                  barcode:
                                    type: string
                            billing_info:
                              type: object
                              properties:
                                payment_method:
                                  type: string
                                delivery_cost:
                                  type: integer
                            recipient_info:
                              type: object
                              properties:
                                first_name:
                                  type: string
                                last_name:
                                  type: string
                                patronymic:
                                  type: string
                            particular_items_refuse:
                              type: boolean
                        state:
                          type: object
                          properties:
                            status:
                              type: string
                            description:
                              type: string
                            timestamp_unix:
                              type: integer
                            timestamp:
                              type: string
                              format: date-time
                        full_items_price:
                          type: integer
                        courier_name:
                          nullable: true
                        courier_phone:
                          nullable: true
                        courier_phone_ext:
                          nullable: true
                        courier_order_id:
                          type: string
              example:
                requests:
                  - route_id: null
                    request_id: 3c1bd0c478f448339ebc1ca89a970be8-udp
                    request:
                      info:
                        comment: В коробке Алиса — будьте осторожны при перевозке!
                        operator_request_id: '#номерзаказа-002'
                        referral_source: logistic-platform-offers
                      source:
                        platform_station:
                          platform_id: e1139f6d-e34f-47a9-a55f-31f032a861a6
                      destination:
                        type: platform_station
                        platform_station:
                          platform_id: 01946f4f013c7337874ec2fb848a58a4
                        interval:
                          from: 1775631600
                          to: 1775638800
                        interval_utc:
                          from: 2026-04-08T07:00:00+0000
                          to: 2026-04-08T09:00:00+0000
                      items:
                        - count: 1
                          name: Яндекс Станция 2
                          article: YS2-2022
                          barcode: e5becf1082c5f4cd96d1a300d7d148d9
                          billing_details:
                            nds: 22
                            unit_price: 1699000
                            assessed_unit_price: 1699000
                          physical_dims:
                            dx: 0
                            dy: 0
                            dz: 0
                          place_barcode: YD69D183CC436051828
                          refused_count: 1
                      places:
                        - physical_dims:
                            dx: 1
                            dy: 1
                            dz: 1
                            weight_gross: 1
                          barcode: YD69D183CC436051828
                      billing_info:
                        payment_method: already_paid
                        delivery_cost: 0
                      recipient_info:
                        first_name: Валентин
                        last_name: Петухов
                        patronymic: ''
                      particular_items_refuse: false
                    state:
                      status: CANCELLED
                      description: Заказ отменен
                      timestamp_unix: 1775338558
                      timestamp: '2026-04-04T21:35:58.000000Z'
                    full_items_price: 1699000
                    courier_name: null
                    courier_phone: null
                    courier_phone_ext: null
                    courier_order_id: '3410998'
                  - route_id: null
                    request_id: 8c12c3199d5b4ffeb540f668f5ce0983-udp
                    request:
                      info:
                        comment: В коробке Алиса — будьте осторожны при перевозке!
                        operator_request_id: '#номерзаказа-001'
                        referral_source: logistic-platform-offers
                      source:
                        platform_station:
                          platform_id: e1139f6d-e34f-47a9-a55f-31f032a861a6
                      destination:
                        type: platform_station
                        platform_station:
                          platform_id: 01946f4f013c7337874ec2fb848a58a4
                        interval:
                          from: 1775631600
                          to: 1775638800
                        interval_utc:
                          from: 2026-04-08T07:00:00+0000
                          to: 2026-04-08T09:00:00+0000
                      items:
                        - count: 1
                          name: Яндекс Станция 2
                          article: YS2-2022
                          barcode: 2a3bb5bc86039b8ceb2238ebb885325e
                          billing_details:
                            nds: 22
                            unit_price: 1699000
                            assessed_unit_price: 1699000
                          physical_dims:
                            dx: 0
                            dy: 0
                            dz: 0
                          place_barcode: YD69D1821A60D310BB1
                          refused_count: 1
                      places:
                        - physical_dims:
                            dx: 1
                            dy: 1
                            dz: 1
                            weight_gross: 1
                          barcode: YD69D1821A60D310BB1
                      billing_info:
                        payment_method: already_paid
                        delivery_cost: 0
                      recipient_info:
                        first_name: Валентин
                        last_name: Петухов
                        patronymic: ''
                      particular_items_refuse: false
                    state:
                      status: CANCELLED
                      description: Заказ отменен
                      timestamp_unix: 1775338149
                      timestamp: '2026-04-04T21:29:09.000000Z'
                    full_items_price: 1699000
                    courier_name: null
                    courier_phone: null
                    courier_phone_ext: null
                    courier_order_id: '3410997'
                  - route_id: null
                    request_id: a47936a7c97c4d2f8e33e7996040552d-udp
                    request:
                      info:
                        operator_request_id: '14856545'
                        referral_source: logistic-platform-offers
                      source:
                        platform_station:
                          platform_id: fbed3aa1-2cc6-4370-ab4d-59c5cc9bb924
                      destination:
                        type: platform_station
                        platform_station:
                          platform_id: 63734acb-9581-4bde-af05-616fb6b874b5
                        interval:
                          from: 1775631600
                          to: 1775638800
                        interval_utc:
                          from: 2026-04-08T07:00:00+0000
                          to: 2026-04-08T09:00:00+0000
                      items:
                        - count: 1
                          name: 1DAMfA
                          article: 1DAMfA
                          barcode: f8d40192c89fa698cfd233b261f8ed5e
                          billing_details:
                            nds: 22
                            unit_price: 1000
                            assessed_unit_price: 1000
                          physical_dims:
                            dx: 0
                            dy: 0
                            dz: 0
                          place_barcode: YD69D13DD3D68724E30
                          refused_count: 0
                      places:
                        - physical_dims:
                            dx: 17
                            dy: 11
                            dz: 17
                            weight_gross: 91
                          barcode: YD69D13DD3D68724E30
                      billing_info:
                        payment_method: card_on_receipt
                        delivery_cost: 0
                      recipient_info:
                        first_name: Евгений
                        last_name: БЕавтотестЦветкова
                        patronymic: ''
                      particular_items_refuse: false
                    state:
                      status: SORTING_CENTER_LOADED
                      description: Заказ подтвержден в сортировочном центре
                      timestamp_unix: 1775320657
                      timestamp: '2026-04-04T16:37:37.000000Z'
                    full_items_price: 1000
                    courier_name: null
                    courier_phone: null
                    courier_phone_ext: null
                    courier_order_id: '3410826'
                  - route_id: null
                    request_id: b1f4d2c869194f5496878f9f6a7e05fd-udp
                    request:
                      info:
                        operator_request_id: test_17753194387143737503_1
                        referral_source: logistic-platform-offers
                      source:
                        platform_station:
                          platform_id: fbed3aa1-2cc6-4370-ab4d-59c5cc9bb924
                      destination:
                        type: platform_station
                        platform_station:
                          platform_id: 019373a0e7dd7655978af311fcd4db51
                        interval:
                          from: 1775458800
                          to: 1775466000
                        interval_utc:
                          from: 2026-04-06T07:00:00+0000
                          to: 2026-04-06T09:00:00+0000
                      items:
                        - count: 1
                          name: >-
                            Элемент питания GP Extra Alkaline 24AX-2CR6 (AAA,
                            6шт)
                          article: '109622'
                          barcode: ee6deb15df9b4d209151a444d23ea080
                          billing_details:
                            nds: 22
                            unit_price: 0
                            assessed_unit_price: 49000
                          physical_dims:
                            dx: 12
                            dy: 2
                            dz: 8
                          place_barcode: YD69D1398F450313BBB-0
                          refused_count: 0
                        - count: 1
                          name: >-
                            Элемент питания GP Extra Alkaline 24AX-2CR6 (AAA,
                            6шт)
                          article: '109622'
                          barcode: 9bf30073cc98499e3ff930cebb40eaaf
                          billing_details:
                            nds: 22
                            unit_price: 0
                            assessed_unit_price: 49000
                          physical_dims:
                            dx: 12
                            dy: 2
                            dz: 8
                          place_barcode: YD69D1398F450313BBB-1
                          refused_count: 0
                        - count: 1
                          name: >-
                            Элемент питания GP ACM02F-2CR12 (LR44,626,54,42 12
                            штук)
                          article: '109621'
                          barcode: f9e5b4f22feee754ff8d95ca864d5174
                          billing_details:
                            nds: 22
                            unit_price: 0
                            assessed_unit_price: 39000
                          physical_dims:
                            dx: 11
                            dy: 2
                            dz: 8
                          place_barcode: YD69D1398F450313BBB-2
                          refused_count: 0
                      places:
                        - physical_dims:
                            dx: 12
                            dy: 2
                            dz: 8
                            weight_gross: 70
                          barcode: YD69D1398F450313BBB-0
                        - physical_dims:
                            dx: 12
                            dy: 2
                            dz: 8
                            weight_gross: 70
                          barcode: YD69D1398F450313BBB-1
                        - physical_dims:
                            dx: 11
                            dy: 2
                            dz: 8
                            weight_gross: 20
                          barcode: YD69D1398F450313BBB-2
                      billing_info:
                        payment_method: already_paid
                        delivery_cost: 0
                      recipient_info:
                        first_name: Тестовый Тест Тестович
                        last_name: ''
                        patronymic: ''
                      particular_items_refuse: false
                    state:
                      status: SORTING_CENTER_LOADED
                      description: Заказ подтвержден в сортировочном центре
                      timestamp_unix: 1775319511
                      timestamp: '2026-04-04T16:18:31.000000Z'
                    full_items_price: 0
                    courier_name: null
                    courier_phone: null
                    courier_phone_ext: null
                    courier_order_id: '3410807'
                  - route_id: null
                    request_id: 0e4747435f2d49669c667b9aa8f49506-udp
                    request:
                      info:
                        operator_request_id: test_17753194373329125205_1
                        referral_source: logistic-platform-offers
                      source:
                        platform_station:
                          platform_id: fbed3aa1-2cc6-4370-ab4d-59c5cc9bb924
                      destination:
                        type: platform_station
                        platform_station:
                          platform_id: 019373a0e7dd7655978af311fcd4db51
                        interval:
                          from: 1775458800
                          to: 1775466000
                        interval_utc:
                          from: 2026-04-06T07:00:00+0000
                          to: 2026-04-06T09:00:00+0000
                      items:
                        - count: 1
                          name: >-
                            Элемент питания GP Extra Alkaline 24AX-2CR6 (AAA,
                            6шт)
                          article: '109622'
                          barcode: 2c14180c3f36bb201d2ac6533fa41f0d
                          billing_details:
                            nds: 22
                            unit_price: 0
                            assessed_unit_price: 49000
                          physical_dims:
                            dx: 12
                            dy: 2
                            dz: 8
                          place_barcode: YD69D1398E2C4451AE9-0
                          refused_count: 1
                        - count: 1
                          name: >-
                            Элемент питания GP ACM02F-2CR12 (LR44,626,54,42 12
                            штук)
                          article: '109621'
                          barcode: 86c7f8b623983a7fabb3876029a038c5
                          billing_details:
                            nds: 22
                            unit_price: 0
                            assessed_unit_price: 39000
                          physical_dims:
                            dx: 11
                            dy: 2
                            dz: 8
                          place_barcode: YD69D1398E2C4451AE9-1
                          refused_count: 1
                      places:
                        - physical_dims:
                            dx: 12
                            dy: 2
                            dz: 8
                            weight_gross: 70
                          barcode: YD69D1398E2C4451AE9-0
                        - physical_dims:
                            dx: 11
                            dy: 2
                            dz: 8
                            weight_gross: 20
                          barcode: YD69D1398E2C4451AE9-1
                      billing_info:
                        payment_method: already_paid
                        delivery_cost: 0
                      recipient_info:
                        first_name: Тестовый Тест Тестович
                        last_name: ''
                        patronymic: ''
                      particular_items_refuse: false
                    state:
                      status: CANCELLED
                      description: Заказ отменен
                      timestamp_unix: 1775319692
                      timestamp: '2026-04-04T16:21:32.000000Z'
                    full_items_price: 0
                    courier_name: null
                    courier_phone: null
                    courier_phone_ext: null
                    courier_order_id: '3410808'
                  - route_id: null
                    request_id: b6e57ae1d10f4625b7d9f4e637144d5a-udp
                    request:
                      info:
                        comment: EMULATE_STATUSES:{SELF_PICKUP_RETURNED}
                        operator_request_id: '86190580'
                        referral_source: logistic-platform-offers
                      source:
                        platform_station:
                          platform_id: fbed3aa1-2cc6-4370-ab4d-59c5cc9bb924
                      destination:
                        type: platform_station
                        platform_station:
                          platform_id: 019397af80ba71059ff176efc27495b6
                        interval:
                          from: 1775458800
                          to: 1775466000
                        interval_utc:
                          from: 2026-04-06T07:00:00+0000
                          to: 2026-04-06T09:00:00+0000
                      items:
                        - count: 1
                          name: >-
                            6607-862 Футболка из вискозы и хлопка, Цвет:белый,
                            р-р:S
                          article: >-
                            6607-862 Футболка из вискозы и хлопка, Цвет:белый,
                            р-р:S
                          barcode: ec1962ab134ccd50b852809c7a276694
                          billing_details:
                            nds: 22
                            unit_price: 159900
                            assessed_unit_price: 159900
                          physical_dims:
                            dx: 0
                            dy: 0
                            dz: 0
                          place_barcode: YD69D11D3A14598AAFC
                          refused_count: 0
                      places:
                        - physical_dims:
                            dx: 43
                            dy: 3
                            dz: 60
                            weight_gross: 219
                          barcode: YD69D11D3A14598AAFC
                      billing_info:
                        payment_method: already_paid
                        delivery_cost: 0
                      recipient_info:
                        first_name: Владислав
                        last_name: Тимофеев
                        patronymic: ''
                      particular_items_refuse: false
                    state:
                      status: SORTING_CENTER_LOADED
                      description: Заказ подтвержден в сортировочном центре
                      timestamp_unix: 1775312349
                      timestamp: '2026-04-04T14:19:09.000000Z'
                    full_items_price: 159900
                    courier_name: null
                    courier_phone: null
                    courier_phone_ext: null
                    courier_order_id: '3410732'
                  - route_id: null
                    request_id: a0894c004d96404fbc49e4c541e7d71f-udp
                    request:
                      info:
                        operator_request_id: 201052288606-005351
                        referral_source: logistic-platform-offers
                      source:
                        platform_station:
                          platform_id: 019397af80ba71059ff176efc27495b6
                      destination:
                        type: platform_station
                        platform_station:
                          platform_id: a6f6c4f1-a590-4cd3-a627-326220a984da
                        interval:
                          from: 1775545200
                          to: 1775588400
                        interval_utc:
                          from: 2026-04-07T07:00:00+0000
                          to: 2026-04-07T19:00:00+0000
                      items:
                        - count: 2
                          name: Товар 1
                          article: SKU-1
                          barcode: ca2ee8c3fa2721d7161ac216602ec0f8
                          billing_details:
                            nds: 22
                            unit_price: 20000
                            assessed_unit_price: 20000
                          physical_dims:
                            dx: 0
                            dy: 0
                            dz: 0
                          place_barcode: YD69D09CC17C02FB91C
                          refused_count: 0
                      places:
                        - physical_dims:
                            dx: 40
                            dy: 20
                            dz: 30
                            weight_gross: 1000
                          barcode: YD69D09CC17C02FB91C
                      billing_info:
                        payment_method: already_paid
                        delivery_cost: 0
                      recipient_info:
                        first_name: Иван
                        last_name: ''
                        patronymic: ''
                      particular_items_refuse: false
                    state:
                      status: SORTING_CENTER_LOADED
                      description: Заказ подтвержден в сортировочном центре
                      timestamp_unix: 1775279399
                      timestamp: '2026-04-04T05:09:59.000000Z'
                    full_items_price: 40000
                    courier_name: null
                    courier_phone: null
                    courier_phone_ext: null
                    courier_order_id: '3410411'
                  - route_id: null
                    request_id: 49844c2bde264af6abfe0773b8c1cadc-udp
                    request:
                      info:
                        operator_request_id: 157730504735-005350
                        referral_source: logistic-platform-offers
                      source:
                        platform_station:
                          platform_id: 019397af80ba71059ff176efc27495b6
                      destination:
                        type: platform_station
                        platform_station:
                          platform_id: a6f6c4f1-a590-4cd3-a627-326220a984da
                        interval:
                          from: 1775545200
                          to: 1775588400
                        interval_utc:
                          from: 2026-04-07T07:00:00+0000
                          to: 2026-04-07T19:00:00+0000
                      items:
                        - count: 2
                          name: Товар 1
                          article: SKU-1
                          barcode: 7d3b6de0fa0af33127bbd2b1ccd424b0
                          billing_details:
                            nds: 22
                            unit_price: 20000
                            assessed_unit_price: 20000
                          physical_dims:
                            dx: 0
                            dy: 0
                            dz: 0
                          place_barcode: YD69D09CA61EAC97CC2
                          refused_count: 0
                      places:
                        - physical_dims:
                            dx: 40
                            dy: 20
                            dz: 30
                            weight_gross: 1000
                          barcode: YD69D09CA61EAC97CC2
                      billing_info:
                        payment_method: already_paid
                        delivery_cost: 0
                      recipient_info:
                        first_name: Иван
                        last_name: ''
                        patronymic: ''
                      particular_items_refuse: false
                    state:
                      status: SORTING_CENTER_LOADED
                      description: Заказ подтвержден в сортировочном центре
                      timestamp_unix: 1775279368
                      timestamp: '2026-04-04T05:09:28.000000Z'
                    full_items_price: 40000
                    courier_name: null
                    courier_phone: null
                    courier_phone_ext: null
                    courier_order_id: '3410410'
                  - route_id: null
                    request_id: e1ec360950f34f14ada6aaf9f4a01576-udp
                    request:
                      info:
                        operator_request_id: 595653102068-005349
                        referral_source: logistic-platform-offers
                      source:
                        platform_station:
                          platform_id: 019397af80ba71059ff176efc27495b6
                      destination:
                        type: platform_station
                        platform_station:
                          platform_id: a6f6c4f1-a590-4cd3-a627-326220a984da
                        interval:
                          from: 1775458800
                          to: 1775502000
                        interval_utc:
                          from: 2026-04-06T07:00:00+0000
                          to: 2026-04-06T19:00:00+0000
                      items:
                        - count: 2
                          name: Шапка
                          article: '123245'
                          barcode: fac6762bc462673743bc650859aa09cd
                          billing_details:
                            nds: 22
                            unit_price: 100000
                            assessed_unit_price: 100000
                          physical_dims:
                            dx: 0
                            dy: 0
                            dz: 0
                          place_barcode: YD69CFE5C087F01D6EA
                          refused_count: 0
                        - count: 1
                          name: Перчатки
                          article: '7632542'
                          barcode: c37a0dfcbf3a4711e99fab581475ecfd
                          billing_details:
                            nds: 22
                            unit_price: 30000
                            assessed_unit_price: 30000
                          physical_dims:
                            dx: 0
                            dy: 0
                            dz: 0
                          place_barcode: YD69CFE5C087F01D6EA
                          refused_count: 0
                      places:
                        - physical_dims:
                            dx: 30
                            dy: 20
                            dz: 20
                            weight_gross: 700
                          barcode: YD69CFE5C087F01D6EA
                      billing_info:
                        payment_method: already_paid
                        delivery_cost: 0
                      recipient_info:
                        first_name: Николай
                        last_name: ''
                        patronymic: ''
                      particular_items_refuse: false
                    state:
                      status: SORTING_CENTER_LOADED
                      description: Заказ подтвержден в сортировочном центре
                      timestamp_unix: 1775232665
                      timestamp: '2026-04-03T16:11:05.000000Z'
                    full_items_price: 230000
                    courier_name: null
                    courier_phone: null
                    courier_phone_ext: null
                    courier_order_id: '3409936'
                  - route_id: null
                    request_id: 07ae1c6fe03541ba8583e31d29e5a78f-udp
                    request:
                      info:
                        operator_request_id: 113778862971-005348
                        referral_source: logistic-platform-offers
                      source:
                        platform_station:
                          platform_id: 019397af80ba71059ff176efc27495b6
                      destination:
                        type: platform_station
                        platform_station:
                          platform_id: a6f6c4f1-a590-4cd3-a627-326220a984da
                        interval:
                          from: 1775458800
                          to: 1775502000
                        interval_utc:
                          from: 2026-04-06T07:00:00+0000
                          to: 2026-04-06T19:00:00+0000
                      items:
                        - count: 2
                          name: Шапка
                          article: '123245'
                          barcode: 53187c4c7b0e21eeb68dc9cd82fba4b5
                          billing_details:
                            nds: 22
                            unit_price: 100000
                            assessed_unit_price: 100000
                          physical_dims:
                            dx: 0
                            dy: 0
                            dz: 0
                          place_barcode: YD69CFE28BE6CC0A51F
                          refused_count: 0
                        - count: 1
                          name: Перчатки
                          article: '7632542'
                          barcode: 8838ab3f2152c812905aec1628e7ac45
                          billing_details:
                            nds: 22
                            unit_price: 30000
                            assessed_unit_price: 30000
                          physical_dims:
                            dx: 0
                            dy: 0
                            dz: 0
                          place_barcode: YD69CFE28BE6CC0A51F
                          refused_count: 0
                      places:
                        - physical_dims:
                            dx: 30
                            dy: 20
                            dz: 20
                            weight_gross: 700
                          barcode: YD69CFE28BE6CC0A51F
                      billing_info:
                        payment_method: already_paid
                        delivery_cost: 0
                      recipient_info:
                        first_name: Николай
                        last_name: ''
                        patronymic: ''
                      particular_items_refuse: false
                    state:
                      status: SORTING_CENTER_LOADED
                      description: Заказ подтвержден в сортировочном центре
                      timestamp_unix: 1775231796
                      timestamp: '2026-04-03T15:56:36.000000Z'
                    full_items_price: 230000
                    courier_name: null
                    courier_phone: null
                    courier_phone_ext: null
                    courier_order_id: '3409926'
                  - route_id: null
                    request_id: c97332de6b62408b9251054395a15412-udp
                    request:
                      info:
                        comment: EMULATE_STATUSES:{SELF_PICKUP_RETURNED}
                        operator_request_id: operator_request_id-63043562295-2026-reorder7
                        referral_source: logistic-platform-offers
                      source:
                        platform_station:
                          platform_id: fbed3aa1-2cc6-4370-ab4d-59c5cc9bb924
                      destination:
                        type: platform_station
                        platform_station:
                          platform_id: 03840f16-3c53-400c-b382-1ecf30e06b64
                        interval:
                          from: 1775372400
                          to: 1775379600
                        interval_utc:
                          from: 2026-04-05T07:00:00+0000
                          to: 2026-04-05T09:00:00+0000
                      items:
                        - count: 1
                          name: good-place-stick-63043562295-2026
                          article: article-63043562295-2026
                          barcode: bda58c35022099e628b32e89628a21e7
                          billing_details:
                            nds: 20
                            unit_price: 100
                            assessed_unit_price: 100
                          physical_dims:
                            dx: 0
                            dy: 0
                            dz: 0
                          place_barcode: YD69CFE176378066F36
                          refused_count: 1
                      places:
                        - physical_dims:
                            dx: 25
                            dy: 1
                            dz: 23
                            weight_gross: 230
                          barcode: YD69CFE176378066F36
                      billing_info:
                        payment_method: already_paid
                        delivery_cost: 0
                      recipient_info:
                        first_name: Сергей
                        last_name: ''
                        patronymic: ''
                      particular_items_refuse: false
                    state:
                      status: VALIDATING_ERROR
                      description: Необходимо пересоздать заказ
                      timestamp_unix: 1775232184
                      timestamp: '2026-04-03T16:03:04.000000Z'
                    full_items_price: 100
                    courier_name: null
                    courier_phone: null
                    courier_phone_ext: null
                    courier_order_id: null
                  - route_id: null
                    request_id: 3d6a7aac87fe4e9881e3f06bb2429549-udp
                    request:
                      info:
                        operator_request_id: 382536105572-005347
                        referral_source: logistic-platform-offers
                      source:
                        platform_station:
                          platform_id: 019397af80ba71059ff176efc27495b6
                      destination:
                        type: platform_station
                        platform_station:
                          platform_id: a6f6c4f1-a590-4cd3-a627-326220a984da
                        interval:
                          from: 1775458800
                          to: 1775502000
                        interval_utc:
                          from: 2026-04-06T07:00:00+0000
                          to: 2026-04-06T19:00:00+0000
                      items:
                        - count: 2
                          name: Шапка
                          article: '123245'
                          barcode: a94624111a2a3b268870b9a0b05e039a
                          billing_details:
                            nds: 22
                            unit_price: 100000
                            assessed_unit_price: 100000
                          physical_dims:
                            dx: 0
                            dy: 0
                            dz: 0
                          place_barcode: YD69CFDF9D3DB456FE0
                          refused_count: 0
                        - count: 1
                          name: Перчатки
                          article: '7632542'
                          barcode: 19b4e94d9f97ad8bd9398eaf302d0ac9
                          billing_details:
                            nds: 22
                            unit_price: 30000
                            assessed_unit_price: 30000
                          physical_dims:
                            dx: 0
                            dy: 0
                            dz: 0
                          place_barcode: YD69CFDF9D3DB456FE0
                          refused_count: 0
                      places:
                        - physical_dims:
                            dx: 30
                            dy: 20
                            dz: 20
                            weight_gross: 700
                          barcode: YD69CFDF9D3DB456FE0
                      billing_info:
                        payment_method: already_paid
                        delivery_cost: 0
                      recipient_info:
                        first_name: Николай
                        last_name: ''
                        patronymic: ''
                      particular_items_refuse: false
                    state:
                      status: SORTING_CENTER_LOADED
                      description: Заказ подтвержден в сортировочном центре
                      timestamp_unix: 1775230986
                      timestamp: '2026-04-03T15:43:06.000000Z'
                    full_items_price: 230000
                    courier_name: null
                    courier_phone: null
                    courier_phone_ext: null
                    courier_order_id: '3409916'
                  - route_id: null
                    request_id: 2929dcd2c2b74eb58aeb0d444db9c62e-udp
                    request:
                      info:
                        operator_request_id: 121745847718-005346
                        referral_source: logistic-platform-offers
                      source:
                        platform_station:
                          platform_id: 019397af80ba71059ff176efc27495b6
                      destination:
                        type: platform_station
                        platform_station:
                          platform_id: a6f6c4f1-a590-4cd3-a627-326220a984da
                        interval:
                          from: 1775458800
                          to: 1775502000
                        interval_utc:
                          from: 2026-04-06T07:00:00+0000
                          to: 2026-04-06T19:00:00+0000
                      items:
                        - count: 2
                          name: Шапка
                          article: '123245'
                          barcode: e0c7edde92eaf4d7e0a37d9c12c19f3a
                          billing_details:
                            nds: 22
                            unit_price: 100000
                            assessed_unit_price: 100000
                          physical_dims:
                            dx: 0
                            dy: 0
                            dz: 0
                          place_barcode: YD69CFDCEB6A66B447D
                          refused_count: 0
                        - count: 1
                          name: Перчатки
                          article: '7632542'
                          barcode: 411060716ca99432edf37f3d4b65cd3d
                          billing_details:
                            nds: 22
                            unit_price: 30000
                            assessed_unit_price: 30000
                          physical_dims:
                            dx: 0
                            dy: 0
                            dz: 0
                          place_barcode: YD69CFDCEB6A66B447D
                          refused_count: 0
                      places:
                        - physical_dims:
                            dx: 30
                            dy: 20
                            dz: 20
                            weight_gross: 700
                          barcode: YD69CFDCEB6A66B447D
                      billing_info:
                        payment_method: already_paid
                        delivery_cost: 0
                      recipient_info:
                        first_name: Николай
                        last_name: ''
                        patronymic: ''
                      particular_items_refuse: false
                    state:
                      status: SORTING_CENTER_LOADED
                      description: Заказ подтвержден в сортировочном центре
                      timestamp_unix: 1775230293
                      timestamp: '2026-04-03T15:31:33.000000Z'
                    full_items_price: 230000
                    courier_name: null
                    courier_phone: null
                    courier_phone_ext: null
                    courier_order_id: '3409904'
                  - route_id: null
                    request_id: 5e8550e4df814be4884aecfc5405c608-udp
                    request:
                      info:
                        operator_request_id: 839359008018-005345
                        referral_source: logistic-platform-offers
                      source:
                        platform_station:
                          platform_id: 019397af80ba71059ff176efc27495b6
                      destination:
                        type: platform_station
                        platform_station:
                          platform_id: a6f6c4f1-a590-4cd3-a627-326220a984da
                        interval:
                          from: 1775458800
                          to: 1775502000
                        interval_utc:
                          from: 2026-04-06T07:00:00+0000
                          to: 2026-04-06T19:00:00+0000
                      items:
                        - count: 2
                          name: Шапка
                          article: '123245'
                          barcode: 596fe17e94c6974ab058ed1d66402500
                          billing_details:
                            nds: 22
                            unit_price: 100000
                            assessed_unit_price: 100000
                          physical_dims:
                            dx: 0
                            dy: 0
                            dz: 0
                          place_barcode: YD69CFDC53D9EB65C15
                          refused_count: 0
                        - count: 1
                          name: Перчатки
                          article: '7632542'
                          barcode: 473bab0a227019c0da3c27ed8df6596e
                          billing_details:
                            nds: 22
                            unit_price: 30000
                            assessed_unit_price: 30000
                          physical_dims:
                            dx: 0
                            dy: 0
                            dz: 0
                          place_barcode: YD69CFDC53D9EB65C15
                          refused_count: 0
                      places:
                        - physical_dims:
                            dx: 30
                            dy: 20
                            dz: 20
                            weight_gross: 700
                          barcode: YD69CFDC53D9EB65C15
                      billing_info:
                        payment_method: already_paid
                        delivery_cost: 0
                      recipient_info:
                        first_name: Николай
                        last_name: ''
                        patronymic: ''
                      particular_items_refuse: false
                    state:
                      status: SORTING_CENTER_LOADED
                      description: Заказ подтвержден в сортировочном центре
                      timestamp_unix: 1775230172
                      timestamp: '2026-04-03T15:29:32.000000Z'
                    full_items_price: 230000
                    courier_name: null
                    courier_phone: null
                    courier_phone_ext: null
                    courier_order_id: '3409902'
                  - route_id: null
                    request_id: 7234e3bf130e43d6bcbc14319e898151-udp
                    request:
                      info:
                        operator_request_id: 166761191828-005344
                        referral_source: logistic-platform-offers
                      source:
                        platform_station:
                          platform_id: 019397af80ba71059ff176efc27495b6
                      destination:
                        type: platform_station
                        platform_station:
                          platform_id: a6f6c4f1-a590-4cd3-a627-326220a984da
                        interval:
                          from: 1775458800
                          to: 1775502000
                        interval_utc:
                          from: 2026-04-06T07:00:00+0000
                          to: 2026-04-06T19:00:00+0000
                      items:
                        - count: 2
                          name: Шапка
                          article: '123245'
                          barcode: ed7d8657bffac8d57451c67a74bef151
                          billing_details:
                            nds: 22
                            unit_price: 100000
                            assessed_unit_price: 100000
                          physical_dims:
                            dx: 0
                            dy: 0
                            dz: 0
                          place_barcode: YD69CFDBACFBD5EEF83
                          refused_count: 0
                        - count: 1
                          name: Перчатки
                          article: '7632542'
                          barcode: 0cd0e3879c29bd974eebaa57e5e99946
                          billing_details:
                            nds: 22
                            unit_price: 30000
                            assessed_unit_price: 30000
                          physical_dims:
                            dx: 0
                            dy: 0
                            dz: 0
                          place_barcode: YD69CFDBACFBD5EEF83
                          refused_count: 0
                      places:
                        - physical_dims:
                            dx: 30
                            dy: 20
                            dz: 20
                            weight_gross: 700
                          barcode: YD69CFDBACFBD5EEF83
                      billing_info:
                        payment_method: already_paid
                        delivery_cost: 0
                      recipient_info:
                        first_name: Николай
                        last_name: ''
                        patronymic: ''
                      particular_items_refuse: false
                    state:
                      status: SORTING_CENTER_LOADED
                      description: Заказ подтвержден в сортировочном центре
                      timestamp_unix: 1775229962
                      timestamp: '2026-04-03T15:26:02.000000Z'
                    full_items_price: 230000
                    courier_name: null
                    courier_phone: null
                    courier_phone_ext: null
                    courier_order_id: '3409899'
                  - route_id: null
                    request_id: 7698ce50ba8e4fd5b45c8d8fdb7169a5-udp
                    request:
                      info:
                        operator_request_id: 982978796774-005343
                        referral_source: logistic-platform-offers
                      source:
                        platform_station:
                          platform_id: 019397af80ba71059ff176efc27495b6
                      destination:
                        type: platform_station
                        platform_station:
                          platform_id: a6f6c4f1-a590-4cd3-a627-326220a984da
                        interval:
                          from: 1775458800
                          to: 1775502000
                        interval_utc:
                          from: 2026-04-06T07:00:00+0000
                          to: 2026-04-06T19:00:00+0000
                      items:
                        - count: 2
                          name: Шапка
                          article: '123245'
                          barcode: a0adb015e2bf546e1428e3f9ea1b6d07
                          billing_details:
                            nds: 22
                            unit_price: 100000
                            assessed_unit_price: 100000
                          physical_dims:
                            dx: 0
                            dy: 0
                            dz: 0
                          place_barcode: YD69CFD39C851C6C2A8
                          refused_count: 0
                        - count: 1
                          name: Перчатки
                          article: '7632542'
                          barcode: 11f859115232c24201bc701d7d5c54b6
                          billing_details:
                            nds: 22
                            unit_price: 30000
                            assessed_unit_price: 30000
                          physical_dims:
                            dx: 0
                            dy: 0
                            dz: 0
                          place_barcode: YD69CFD39C851C6C2A8
                          refused_count: 0
                      places:
                        - physical_dims:
                            dx: 30
                            dy: 20
                            dz: 20
                            weight_gross: 700
                          barcode: YD69CFD39C851C6C2A8
                      billing_info:
                        payment_method: already_paid
                        delivery_cost: 0
                      recipient_info:
                        first_name: Николай
                        last_name: ''
                        patronymic: ''
                      particular_items_refuse: false
                    state:
                      status: SORTING_CENTER_LOADED
                      description: Заказ подтвержден в сортировочном центре
                      timestamp_unix: 1775227898
                      timestamp: '2026-04-03T14:51:38.000000Z'
                    full_items_price: 230000
                    courier_name: null
                    courier_phone: null
                    courier_phone_ext: null
                    courier_order_id: '3409862'
                  - route_id: null
                    request_id: 0c0382830e9243e5ad11315ba6730a08-udp
                    request:
                      info:
                        operator_request_id: 282263738246-005340
                        referral_source: logistic-platform-offers
                      source:
                        platform_station:
                          platform_id: 019397af80ba71059ff176efc27495b6
                      destination:
                        type: platform_station
                        platform_station:
                          platform_id: a6f6c4f1-a590-4cd3-a627-326220a984da
                        interval:
                          from: 1775458800
                          to: 1775502000
                        interval_utc:
                          from: 2026-04-06T07:00:00+0000
                          to: 2026-04-06T19:00:00+0000
                      items:
                        - count: 2
                          name: Шапка
                          article: '123245'
                          barcode: ccf897e437d8c3ef5675265a6aac5133
                          billing_details:
                            nds: 22
                            unit_price: 100000
                            assessed_unit_price: 100000
                          physical_dims:
                            dx: 0
                            dy: 0
                            dz: 0
                          place_barcode: YD69CFD346ECFCFCAFF
                          refused_count: 0
                        - count: 1
                          name: Перчатки
                          article: '7632542'
                          barcode: ceb8a04b02be3e73037e68f8fa4d5399
                          billing_details:
                            nds: 22
                            unit_price: 30000
                            assessed_unit_price: 30000
                          physical_dims:
                            dx: 0
                            dy: 0
                            dz: 0
                          place_barcode: YD69CFD346ECFCFCAFF
                          refused_count: 0
                      places:
                        - physical_dims:
                            dx: 30
                            dy: 20
                            dz: 20
                            weight_gross: 700
                          barcode: YD69CFD346ECFCFCAFF
                      billing_info:
                        payment_method: already_paid
                        delivery_cost: 0
                      recipient_info:
                        first_name: Николай
                        last_name: ''
                        patronymic: ''
                      particular_items_refuse: false
                    state:
                      status: SORTING_CENTER_LOADED
                      description: Заказ подтвержден в сортировочном центре
                      timestamp_unix: 1775227837
                      timestamp: '2026-04-03T14:50:37.000000Z'
                    full_items_price: 230000
                    courier_name: null
                    courier_phone: null
                    courier_phone_ext: null
                    courier_order_id: '3409861'
                  - route_id: null
                    request_id: a39ba158c76d43439cd6bebb5db62089-udp
                    request:
                      info:
                        operator_request_id: '1775227042'
                        referral_source: logistic-platform-offers
                      source:
                        platform_station:
                          platform_id: fbed3aa1-2cc6-4370-ab4d-59c5cc9bb924
                      destination:
                        type: platform_station
                        platform_station:
                          platform_id: 019373a0e7dd7655978af311fcd4db51
                        interval:
                          from: 1775458800
                          to: 1775466000
                        interval_utc:
                          from: 2026-04-06T07:00:00+0000
                          to: 2026-04-06T09:00:00+0000
                      items:
                        - count: 1
                          name: куртка женская
                          article: '4680168559808'
                          barcode: ff2fd476a020e8b3be51be95936146c5
                          billing_details:
                            nds: 22
                            unit_price: 134300
                            assessed_unit_price: 134300
                          physical_dims:
                            dx: 0
                            dy: 0
                            dz: 0
                          place_barcode: YD69CFD1444A9D35FF3
                          refused_count: 0
                      places:
                        - physical_dims:
                            dx: 10
                            dy: 10
                            dz: 10
                            weight_gross: 100
                          barcode: YD69CFD1444A9D35FF3
                      billing_info:
                        payment_method: already_paid
                        delivery_cost: 0
                      recipient_info:
                        first_name: Test
                        last_name: Test
                        patronymic: ''
                      particular_items_refuse: false
                    state:
                      status: SORTING_CENTER_LOADED
                      description: Заказ подтвержден в сортировочном центре
                      timestamp_unix: 1775227688
                      timestamp: '2026-04-03T14:48:08.000000Z'
                    full_items_price: 134300
                    courier_name: null
                    courier_phone: null
                    courier_phone_ext: null
                    courier_order_id: '3409857'
                  - route_id: null
                    request_id: 68832f0b25514061934af54bfb40dabe-udp
                    request:
                      info:
                        operator_request_id: '1775222574'
                        referral_source: logistic-platform-offers
                      source:
                        platform_station:
                          platform_id: fbed3aa1-2cc6-4370-ab4d-59c5cc9bb924
                      destination:
                        type: platform_station
                        platform_station:
                          platform_id: 019373a0e7dd7655978af311fcd4db51
                        interval:
                          from: 1775458800
                          to: 1775466000
                        interval_utc:
                          from: 2026-04-06T07:00:00+0000
                          to: 2026-04-06T09:00:00+0000
                      items:
                        - count: 1
                          name: куртка женская
                          article: '4680168559808'
                          barcode: ec85db26665d489bbaaf1b9ef93db6ff
                          billing_details:
                            nds: 22
                            unit_price: 134300
                            assessed_unit_price: 134300
                          physical_dims:
                            dx: 0
                            dy: 0
                            dz: 0
                          place_barcode: YD69CFBF7194FCB9F29
                          refused_count: 0
                      places:
                        - physical_dims:
                            dx: 10
                            dy: 10
                            dz: 10
                            weight_gross: 100
                          barcode: YD69CFBF7194FCB9F29
                      billing_info:
                        payment_method: already_paid
                        delivery_cost: 0
                      recipient_info:
                        first_name: Test
                        last_name: Test
                        patronymic: ''
                      particular_items_refuse: false
                    state:
                      status: SORTING_CENTER_LOADED
                      description: Заказ подтвержден в сортировочном центре
                      timestamp_unix: 1775222709
                      timestamp: '2026-04-03T13:25:09.000000Z'
                    full_items_price: 134300
                    courier_name: null
                    courier_phone: null
                    courier_phone_ext: null
                    courier_order_id: '3409789'
                  - route_id: null
                    request_id: 5d97ebd6ffa5416892fb1fa9cc7a23b7-udp
                    request:
                      info:
                        operator_request_id: test_17752207653327246922_1
                        referral_source: logistic-platform-offers
                      source:
                        platform_station:
                          platform_id: fbed3aa1-2cc6-4370-ab4d-59c5cc9bb924
                      destination:
                        type: platform_station
                        platform_station:
                          platform_id: 019373a0e7dd7655978af311fcd4db51
                        interval:
                          from: 1775372400
                          to: 1775379600
                        interval_utc:
                          from: 2026-04-05T07:00:00+0000
                          to: 2026-04-05T09:00:00+0000
                      items:
                        - count: 1
                          name: >-
                            Элемент питания GP Extra Alkaline 24AX-2CR6 (AAA,
                            6шт)
                          article: '109622'
                          barcode: e81f92e754edb16343e062162a687871
                          billing_details:
                            nds: 22
                            unit_price: 0
                            assessed_unit_price: 49000
                          physical_dims:
                            dx: 12
                            dy: 2
                            dz: 8
                          place_barcode: YD69CFB81E924522091-1
                          refused_count: 0
                        - count: 1
                          name: >-
                            Элемент питания GP ACM02F-2CR12 (LR44,626,54,42 12
                            штук)
                          article: '109621'
                          barcode: 7b863ac69122b9cd1dbd2eef49488a24
                          billing_details:
                            nds: 22
                            unit_price: 0
                            assessed_unit_price: 39000
                          physical_dims:
                            dx: 11
                            dy: 2
                            dz: 8
                          place_barcode: YD69CFB81E924522091-2
                          refused_count: 0
                        - count: 1
                          name: >-
                            Элемент питания GP Extra Alkaline 24AX-2CR6 (AAA,
                            6шт)
                          article: '109622'
                          barcode: 863e7f45b77a30e7c1ab74924427c8f1
                          billing_details:
                            nds: 22
                            unit_price: 0
                            assessed_unit_price: 49000
                          physical_dims:
                            dx: 12
                            dy: 2
                            dz: 8
                          place_barcode: YD69CFB81E924522091-0
                          refused_count: 0
                      places:
                        - physical_dims:
                            dx: 12
                            dy: 2
                            dz: 8
                            weight_gross: 70
                          barcode: YD69CFB81E924522091-0
                        - physical_dims:
                            dx: 12
                            dy: 2
                            dz: 8
                            weight_gross: 70
                          barcode: YD69CFB81E924522091-1
                        - physical_dims:
                            dx: 11
                            dy: 2
                            dz: 8
                            weight_gross: 20
                          barcode: YD69CFB81E924522091-2
                      billing_info:
                        payment_method: already_paid
                        delivery_cost: 0
                      recipient_info:
                        first_name: Тестовый Тест Тестович
                        last_name: ''
                        patronymic: ''
                      particular_items_refuse: false
                    state:
                      status: SORTING_CENTER_LOADED
                      description: Заказ подтвержден в сортировочном центре
                      timestamp_unix: 1775220876
                      timestamp: '2026-04-03T12:54:36.000000Z'
                    full_items_price: 0
                    courier_name: null
                    courier_phone: null
                    courier_phone_ext: null
                    courier_order_id: '3409741'
                  - route_id: null
                    request_id: bfe038e078b04d87a350f9a39653e769-udp
[...]
